.navbar {
    background-color: #0053a7 !important;
}

.boton-nav{
    margin: 20px;
}

.nav-link {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.712) !important;
}

.nav-link:hover {
    color: #3498db !important;
}
.imagen-nav{
    margin: 20px;
    height: 40px;
    width: 40px;
}

.messi-tex1{
    font-size: 20px;
    text-align: center;
    font-style: italic;
}